<h1>Help</h1>
<p>
	Get help on Ruby on Tails Tutorial at the
	<a href="http://railstutorial.org/help">Rails Tutorial help page</a>
	to get help on this app, see the
	<a href ="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>